* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #001e4d;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    height: 90%;
    max-height: 300px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.quiz {
    padding: 20px 0;
    position: relative;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 20px;
}

#answer-buttons {
    position: absolute;
    width: 100%;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 45%; /* Adjust the width as needed */
    border: 1px solid #222;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background: #222;
    color: #fff;
}

.btn:nth-child(1) {
    top: 0;
    left: 0;
}

.btn:nth-child(2) {
    top: 0;
    right: 0;
}

.btn:nth-child(3) {
    bottom: 0;
    left: 0;
}

.btn:nth-child(4) {
    bottom: 0;
    right: 0;
}